<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="curtmini_piper">
  <!-- Reuse the complete Curt Mini model, including its ros2_control block. -->
  <xacro:include filename="$(find curt_mini_description)/models/curt_mini/robot.urdf.xacro" />
  <xacro:include filename="$(find agx_arm_urdf)/piper/urdf/piper_arm.xacro" />
  <xacro:include filename="$(find curtmini_piper_description)/urdf/piper_ros2_control.xacro" />
  <xacro:include filename="$(find curtmini_piper_description)/urdf/hokuyo_utm_30lx_ew.xacro" />
  <xacro:include filename="$(find curtmini_piper_description)/urdf/geometry.xacro" />

  <xacro:arg name="arm_prefix" default="piper_" />
  <xacro:arg name="use_hokuyo" default="False" />
  <xacro:arg name="piper_joint1_initial_value" default="0.0" />
  <xacro:arg name="piper_joint2_initial_value" default="0.1" />
  <xacro:arg name="piper_joint3_initial_value" default="-0.1" />
  <xacro:arg name="piper_joint4_initial_value" default="0.0" />
  <xacro:arg name="piper_joint5_initial_value" default="0.0" />
  <xacro:arg name="piper_joint6_initial_value" default="-1.95" />
  <xacro:arg
    name="piper_joint_limits_file"
    default="$(find agx_arm_urdf)/piper/config/joint_position_limits.yaml" />

  <xacro:piper_arm
    prefix="$(arg arm_prefix)"
    joint_limits_file="$(arg piper_joint_limits_file)" />

  <joint name="$(arg arm_prefix)mount_joint" type="fixed">
    <parent link="chassis" />
    <child link="$(arg arm_prefix)base_link" />
    <origin xyz="${arm_mount_xyz}" rpy="${arm_mount_rpy}" />
  </joint>

  <link name="$(arg arm_prefix)tcp_link" />
  <joint name="$(arg arm_prefix)tcp_joint" type="fixed">
    <parent link="$(arg arm_prefix)link6" />
    <child link="$(arg arm_prefix)tcp_link" />
    <origin xyz="${tcp_offset_xyz}" rpy="${tcp_offset_rpy}" />
  </joint>

  <xacro:if value="$(arg use_hokuyo)">
    <xacro:hokuyo_utm_30lx_ew
      parent="chassis"
      xyz="${hokuyo_mount_xyz}"
      rpy="${hokuyo_mount_rpy}"
    />
  </xacro:if>

  <xacro:if value="$(arg simulation)">
    <xacro:piper_ros2_control
      prefix="$(arg arm_prefix)"
      system_name="GazeboSystem"
      hardware_plugin="gz_ros2_control/GazeboSimSystem"
      joint1_initial_value="$(arg piper_joint1_initial_value)"
      joint2_initial_value="$(arg piper_joint2_initial_value)"
      joint3_initial_value="$(arg piper_joint3_initial_value)"
      joint4_initial_value="$(arg piper_joint4_initial_value)"
      joint5_initial_value="$(arg piper_joint5_initial_value)"
      joint6_initial_value="$(arg piper_joint6_initial_value)"
    />
  </xacro:if>
</robot>
