<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prefixed_piper_control">
  <xacro:include filename="$(find agx_arm_urdf)/piper/urdf/piper_arm.xacro" />
  <xacro:include filename="$(find curtmini_piper_description)/urdf/piper_ros2_control.xacro" />

  <xacro:arg name="arm_prefix" default="piper_" />
  <xacro:arg
    name="piper_joint_limits_file"
    default="$(find agx_arm_urdf)/piper/config/joint_position_limits.yaml" />

  <link name="$(arg arm_prefix)world" />
  <xacro:piper_arm
    prefix="$(arg arm_prefix)"
    joint_limits_file="$(arg piper_joint_limits_file)" />

  <joint name="$(arg arm_prefix)mount_joint" type="fixed">
    <parent link="$(arg arm_prefix)world" />
    <child link="$(arg arm_prefix)base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="$(arg arm_prefix)tcp_link" />
  <joint name="$(arg arm_prefix)tcp_joint" type="fixed">
    <parent link="$(arg arm_prefix)link6" />
    <child link="$(arg arm_prefix)tcp_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <xacro:piper_ros2_control
    prefix="$(arg arm_prefix)"
    system_name="FakeSystem"
    hardware_plugin="mock_components/GenericSystem"
  />
</robot>
