<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="piper_ros2_control"
    params="
      prefix
      system_name
      hardware_plugin
      joint2_initial_value:=0.0
      joint3_initial_value:=0.0
      joint6_initial_value:=0.0
    "
  >
    <ros2_control name="${prefix}${system_name}" type="system">
      <hardware>
        <plugin>${hardware_plugin}</plugin>
      </hardware>

      <xacro:macro
        name="piper_control_joint"
        params="joint_name initial_value"
      >
        <joint name="${prefix}${joint_name}">
          <command_interface name="position" />
          <state_interface name="position">
            <param name="initial_value">${initial_value}</param>
          </state_interface>
          <state_interface name="velocity" />
        </joint>
      </xacro:macro>

      <xacro:piper_control_joint joint_name="joint1" initial_value="0.0" />
      <xacro:piper_control_joint
        joint_name="joint2"
        initial_value="${joint2_initial_value}"
      />
      <xacro:piper_control_joint
        joint_name="joint3"
        initial_value="${joint3_initial_value}"
      />
      <xacro:piper_control_joint joint_name="joint4" initial_value="0.0" />
      <xacro:piper_control_joint joint_name="joint5" initial_value="0.0" />
      <xacro:piper_control_joint
        joint_name="joint6"
        initial_value="${joint6_initial_value}"
      />
    </ros2_control>
  </xacro:macro>
</robot>
